<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <assembly name="kalkulatory"></assembly>
    <namespace name="kalkulatory"></namespace>

    <alias alias="kalkulatory.ICalculator" type="kalkulatory.ICalculator, kalkulatory"/>
    <alias alias="kalkulatory.CatCalc" type="kalkulatory.CatCalc, kalkulatory"/>
    <alias alias="kalkulatory.CatCalc" type="kalkulatory.CatCalc, kalkulatory"/>
    <alias alias="kalkulatory.CatCalc" type="kalkulatory.CatCalc, kalkulatory"/>
    <alias alias="kalkulatory.Worker" type="kalkulatory.Worker, kalkulatory"/>
    <alias alias="kalkulatory.Worker2" type="kalkulatory.Worker2, kalkulatory"/>
    <alias alias="kalkulatory.Worker3" type="kalkulatory.Worker3, kalkulatory"/>

    <container>
      <register type="ICalculator" mapTo="CatCalc" name="cat"/>

      <register type="ICalculator" mapTo="PlusCalc" name="plus"/>

      <register type="ICalculator" mapTo="StateCalc" name="state" >
        <constructor>
          <param name="initialCounterState" value="1"/>
        </constructor>
        <lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager, Unity.Abstractions"/>
      </register>

      <register type="Worker">
        <constructor>
          <param name="calculator">
            <dependency name="cat"/>
          </param>
        </constructor>
      </register>

      <register type="Worker2">
        <method name="Initialize">
          <param name="calculator" type="ICalculator">
            <dependency name ="plus"/>
          </param>
        </method>
      </register>

      <register type="Worker3">
        <property name="Calculator">
          <dependency name="cat"/>
        </property>
      </register>


      <register type="Worker" name="state">
        <constructor>
          <param name="calculator">
            <dependency name="state"/>
          </param>
        </constructor>
      </register>

      <register type="Worker2"  name="state">
        <method name="Initialize">
          <param name="calculator" type="ICalculator">
            <dependency name ="state"/>
          </param>
        </method>
      </register>

      <register type="Worker3"  name="state">
        <property name="Calculator">
          <dependency name="state"/>
        </property>
      </register>
    </container>
  </unity>
</configuration>